clips/
downloads/
srts/
transcripts/
venv/
gpt_response.txt
.env
cookies.txt
final_clips.jsonl
captions
gpt_response0.txt
gpt_response1.txt
gpt_response2.txt
gpt_response3.txt
gpt_response4.txt
gpt_response5.txt
gpt_response6.txt
gpt_response7.txt
gpt_response8.txt
gpt_response9.txt
gpt_response10.txt
gpt_response11.txt
gpt_response12.txt
gpt_response13.txt
gpt_response14.txt
gpt_response15.txt
gpt_response16.txt

final_clips.json
